/*header*/
#thead{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.newdeco{
    margin-left: 25px;
    margin-top: 25px;
}
/* !!!! important vers index*/
.verind{
    
    margin-top: 25px !important;
    background-color: #ccc;
    padding: 5px;
}
.verger{
    margin-top: 25px !important;
    background-color: #ccc;
    padding: 5px;
}
#eleg {
    padding-top: 25px !important;
}
#elein{
    padding-left: 35px;
}
/* index*/
.ajaxlist{
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}
/* button nouvelle enregistrement */
.newlmdp {
    margin-left: 80px;
    background-color: #ccc;
    padding: 5px 10px;

}
/* button supprimer */
.supp{
    margin-left: 20px;
    background-color: #ccc;
    padding: 5px 10px;
}

#nsiteweb{
    margin-left: 40px;
}
/* button modifier */
.inp-mod{
    margin-top: 10px;
}
/* button rechercher */
.subind{
    margin-left: 75px;
}
/* id de la div de confirmation de suppripression */
#delete{
    
    margin-top: 30px;
    padding-top: 20px;
    color: red;
}
/* intérieur de la div de confirmation de suppripression */
.int-div-supp{
    margin-top: -25px;
}
/*page login*/
#log-sub{
    margin-left: 20px;
}
#log-reg{
    text-align: left;
    margin-left: 15px;
}
/* page registration */
.tbl-reg{
    padding-left: 75px;
}
.inp-reg{
    text-align: right;
}
.inp-sub{
    margin-top: 25px;
    margin-bottom: 25px;
}
/* page d'enregistrement*/
.slecttbl{
    width: 198px;
    height: 24px;
}
.newtbl{
    margin-left: 30px;
    background-color: #ccc;
    padding: 5px 10px;
}
#nouvtbl,
#gen8,
#gen16,
#gen32,
#gen64,
#nvsec1,
#nvsec2,
#nvsec3,
#genok{
    display: none;
}

/* LE PLUS*/
.plussign{
    width: 15%;
    margin-left: 75px;
    margin-top: 25px;
}


/* typesphp */
.title-types{
    padding-bottom: 50px;
}